<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value ="C:\Users\DaultonNelson\Desktop\New folder\Tournament Tracker\Tracker Texts"/>
    <add key="greaterWins" value ="1"/>
    <add key="senderEmail" value="thedman214@gmail.com"/>
    <add key ="senderDisplayName" value="Daulton Nelson"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=MSI\MSSQLSERVER01;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod ="Network">
        <network host="127.0.0.1" userName="Daulton" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>